---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    <h5>PUBLISHED {{ page.date | date: "%B %e, %Y" }}</h5>
  </div>
<div>
 {% if page.previous %} 
        <h5><a rel="prev" href="{{ page.previous.url }}">PREVIOUS: {{ page.previous.title}}</a></h5>
    {% endif %}
    </div>
    <div>
    {% if page.next %} 
        <h5><a rel="next" href="{{ page.next.url }}">NEXT: {{ page.next.title }}</a></h5>
    {% endif %}
    </div>
</article>
